/*Global reset----------------------*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*-------------------------------------*/


/*Header--------------------------------------*/
.h1-header{
    font-size: 32px;
    color: white;
    text-shadow: 2px 2px 0 #000;
    display: inline;
}

header a{
    text-decoration: none;
    background-color: white;
    border: 1px solid black;
    display: inline-block;
    width: 100px;
    font-weight: bold;
    text-align: center;
    position: relative;
    left: 50px;
    bottom: 3px;
    padding: 5px;
}

header a:hover{
    background-color: #f7cf1d;
    color: white;
    text-shadow: 1px 1px 0 #000;
}

header{
    text-align: center;
    height: 8vh;
    border: 1px dotted gray;
    padding-top: 15px;
    background-color: rgb(235, 142, 30);
}
/*--------------------------------------------------*/

/*Main------------------------------------------------*/
.plano-fundo{
    background-image: url(../images/arvores-background.jpg);
    background-size: cover;
    height: 92vh;
}
/*-----------------------------------------------------*/


.before-start{
    width: 90%;                                  
    height: 500px;
    background-color: antiquewhite;
    border: 2px solid black;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
    top: 100px;
    text-align: center;
}

#game-screen{
    position: relative;
    top: 50px;
    width: 40%;
    height: 300px;
    margin: 0 auto;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
}

.input-space{
    position: relative;
    top: 50px;
}

.input-space input{
    width: 25%;
    padding: 5px;
    border: 2px solid black;
}

.input-space button{
    padding: 5px;
    background-color: rgb(24, 247, 24);
    color: rgb(0, 0, 0);
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.input-space button:hover{
    background-color: lightgreen;
    color: rgb(180, 223, 208);
    cursor: pointer;
}

#tips{
    display: block;
    position: relative;
    top: 100px;
    text-align: center;
    margin: 0 auto;
}

#tips h6{
    display: inline-block;
    font-size: 30px;
    background-color: rgb(224, 191, 0);
    color: white;
    text-align: left;
    padding: 1px 5px;
    border-radius: 10px;
    margin-top: 5px;
    border: 2px solid black;

}

#tips span{
    font-size: 30px;
    color: black;
    text-shadow: 0.5px 0.5px 0 #ffffff;
}





h1.game-info{
    color: rgb(124, 83, 6);
    text-shadow: 2px 2px 0 #fff;
}




#play-button{
    margin: 120px auto;
    width: 250px;
    height: 150px;
    border-radius: 10px;
    background-color: green;
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px 0 #000;
    transition: background-color 0.3s ease;
}

#play-button:hover{
    background-color: lightgreen;
    color: rgb(180, 223, 208);
    cursor: pointer;
}


.after-start{
    display: none;
    width: 90%;                                  
    height: 500px;
    background-color: antiquewhite;
    border: 2px solid black;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
    top: 100px;
    text-align: center;
}

h1.game-info-start{
    color: rgb(124, 83, 6);
    text-shadow: 2px 2px 0 #fff;
    display: inline-block;
}

.lifes{
    position: relative;
    left: 15px;
    
}


/*Victory Screen---------------------*/

.victory-screen{
    display: none;
    width: 40%;                                  
    height: 500px;
    background-color: antiquewhite;
    border: 2px solid black;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
    top: 100px;
    text-align: center;
}

h1.victory-phrase{
    margin-top: 20px;
    color: rgb(25, 189, 38);
    text-shadow: 2px 2px 0 #fff;
}


#play-again{
    margin: 120px auto;
    width: 250px;
    height: 150px;
    border-radius: 10px;
    background-color: green;
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px 0 #000;
    transition: background-color 0.3s ease;
}

#play-again:hover{
    background-color: lightgreen;
    color: rgb(180, 223, 208);
    cursor: pointer;
}






/*----------------------------------*/



/*Defeat Screen-----------------------*/

.defeat-screen{
    display: none;
    width: 40%;                                  
    height: 500px;
    background-color: antiquewhite;
    border: 2px solid black;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
    top: 100px;
    text-align: center;
}

h1.defeat-phrase{
    margin-top: 20px;
    color: rgb(255, 0, 0);
    text-shadow: 2px 2px 0 #fff;
}

#retry{
    margin: 120px auto;
    width: 250px;
    height: 150px;
    border-radius: 10px;
    background-color: green;
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px 0 #000;
    transition: background-color 0.3s ease;
}

#retry:hover{
    background-color: lightgreen;
    color: rgb(180, 223, 208);
    cursor: pointer;
}



/*--------------------------------------*/


#sound{
    display: inline-block;
    width: 40px;
    padding: 5px;
    position: absolute;
    top: 5px;
    right: 5px;

}