*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1{
    font-size: 32px;
    color: white;
    text-shadow: 2px 2px 0 #000;
}

header{
    text-align: center;
    height: 8vh;
    border: 1px dotted gray;
    padding-top: 15px;
    background-color: rgb(235, 142, 30);
}

.plano-fundo{
    background-image: url(../images/arvores-background.jpg);
    background-size: cover;
    height: 92vh;
}

.gameplay{
    width: 50%;                                  
    height: 500px;
    background-color: antiquewhite;
    border: 2px solid black;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
    top: 100px;
}