/*Global reset----------------------*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*-------------------------------------*/


/*Header--------------------------------------*/
.h1-header{
    font-size: 32px;
    color: white;
    text-shadow: 2px 2px 0 #000;
}


header{
    text-align: center;
    height: 8vh;
    border: 1px dotted gray;
    padding-top: 15px;
    background-color: rgb(235, 142, 30);
}
/*-------------------------------------------------*/

/*Main------------------------------------------------*/
.plano-fundo{
    background-image: url(../images/arvores-background.jpg);
    background-size: cover;
    height: 92vh;
}
/*-----------------------------------------------------*/


.before-start{
    width: 50%;                                  
    height: 500px;
    background-color: antiquewhite;
    border: 2px solid black;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
    top: 100px;
    text-align: center;
}

#game-screen{
    position: relative;
    top: 50px;
    width: 50%;
    height: 300px;
    margin: 0 auto;
    background-color: white;
    border: 2px dashed black;
    border-radius: 5px;
}

.input-space{
    position: relative;
    top: 80px;
}

.input-space input{
    width: 200px;
    padding: 5px;
    border: 2px solid black;
}

.input-space button{
    padding: 5px;
    background-color: rgb(24, 247, 24);
    color: rgb(0, 0, 0);
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.input-space button:hover{
    background-color: lightgreen;
    color: rgb(180, 223, 208);
    cursor: pointer;
}

#tips{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: aliceblue;
    width: 100%;
    text-align: left;
}

#tips h6{
    font-size: 30px;
}



h1.game-info{
    color: rgb(124, 83, 6);
    text-shadow: 2px 2px 0 #fff;
}

h1.game-info-start{
    color: rgb(124, 83, 6);
    text-shadow: 2px 2px 0 #fff;
}



#play-button{
    margin: 120px auto;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    background-color: green;
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px 0 #000;
    transition: background-color 0.3s ease;
}

#play-button:hover{
    background-color: lightgreen;
    color: rgb(180, 223, 208);
    cursor: pointer;
}

.after-start{
    display: none;
    width: 50%;                                  
    height: 500px;
    background-color: antiquewhite;
    border: 2px solid black;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
    top: 100px;
    text-align: center;
}


/*Victory Screen---------------------*/

#victory_screen{
    display: none;
    width: 50%;                                  
    height: 500px;
    background-color: antiquewhite;
    border: 2px solid black;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
    top: 100px;
    text-align: center;
}

.win-phrase{
    display: none;
}

/*----------------------------------*/



/*Defeat Screen-----------------------*/

#victory_screen{
    display: none;
    width: 50%;                                  
    height: 500px;
    background-color: antiquewhite;
    border: 2px solid black;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
    top: 100px;
    text-align: center;
}

.lose-phrase{
    display: none;
}


/*--------------------------------------*/


